<div class="card-show">
  <img width="100%" src="https://images.unsplash.com/photo-1517502884422-41eaead166d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80" alt="Office">
  <h2 class="name"><%= @space.name %></h2>
  <p class="name"><%= @space.description %></p>
</div>
