<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github fa-sm"></i></a>
    <a href="#"><i class="fab fa-twitter fa-sm"></i></a>
    <a href="#"><i class="fab fa-instagram fa-sm"></i></a>
    <a href="#"><i class="fab fa-facebook fa-sm"></i></a>
    <a href="#"><i class="fab fa-linkedin fa-sm"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with aggression! <i class="fab fa-angrycreative fa-lg"></i>
  </div>
</div>
