.banner {
  background-size: cover;
  background-color: black;
  padding-top: 27px;
  height: 550px;
  width: 100%;
}

.container_word {
}

.container_chaos {
  margin-left: 180px;
}

.banner h1 {
  margin-left: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
}

.form_container {
  position: absolute;
  top: 300px;
  right: 250px;
}

.form_container h3 {
  font-size: 25px;
}

