.banner {
  position: absolute;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  z-index: -3;
  overflow: hidden;
}

#hp_image {
  padding: 40px;
  width: 700px;
}

.container_chaos {
  transform: rotate(27deg) translate(130px, 200px);
}

.container_space {
  margin-left: 180px;
  transform: rotate(-30deg) translate(65px, -80px);
}

.banner h1 {
  margin-left: 50px;
  color: white;
  font-size: 170px;
  font-weight: 500;
}

.form_container {
  position: absolute;
  top: 200px;
  right: 200px;
}

.form_container h3 {
  font-size: 25px;
}


@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.banner:hover,
.banner:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.4s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


