.banner {
  position: absolute;
  background-size: cover;
  height: 550px;
  width: 100%;
  z-index: -3;
}

#hp_image {
  padding: 40px;
  width: 700px;
}

.container_chaos {
  transform: rotate(27deg) translate(130px, 250px);
}

.container_space {
  margin-left: 180px;
  transform: rotate(-30deg) translate(50px, -50px);
}

.banner h1 {
  margin-left: 50px;
  color: white;
  font-size: 170px;
  font-weight: 500;
}

.form_container {
  position: absolute;
  top: 300px;
  right: 250px;
}

.form_container h3 {
  font-size: 25px;
}

