.form-login {
  border: 1px solid #00FF97;
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 0px;

  h2 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
  }
}

.form-inputs {
  color: black;
}

.links {
  color: black;
}

.form-login a.links {
  color: white;
}
