map {
   display: flex;
   height: 100vh;
   width: 50%;
 }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-canvas {
  padding-top: 12px;
}

.mapboxgl-ctrl-geocoder {
  display: none;
}

