.form-results-page {
  max-width: 1100px;
  padding: 10px 0 0 30px;
}

.form-results-page .date_field {
  width: 150px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
  border-right: none;
}

.form-results-page .form-group {
  display: inline-block;
  padding: 10px 10px;
}

.form-results-page .form-group .button {
  width: 109px;
}


.form-results-page, .form-control {
  border-right: none;
}
